body{
    background-color: rgb(143, 199, 255);
}
h1 {
    background:linear-gradient(to left,rgb(0, 217, 255),rgb(253, 253, 253)) ;
    color:black;
    text-shadow: rgba(255, 255, 255) 1px 0 10px;
}
h1.info {
	font-size: 10pt;
}
h2{
    color:rgb(255, 255, 255);
    background-color:  #b8ffcb;
    background:linear-gradient(to right,#b8ffcb,rgb(253, 253, 253)) ;
    text-shadow: rgb(68, 211, 255) 1px 0 10px;
}
h3{
    color:rgb(255, 255, 255);
    background-color:  #ff90e5;
    text-shadow: rgb(253, 218, 142) 1px 0 10px;
}
a:link{
    color:rgb(238, 255, 0);
}