body{
    background-color: rgb(143, 199, 255);
}
h1 {
    background:linear-gradient(to left,rgb(0, 217, 255),rgb(253, 253, 253)) ;
    color:black;
    text-shadow: white 1px 0 10px;
}
h1.info {
	font-size: 10pt;
}
h2{
    color:rgb(255, 255, 255);
    background-color:  #b8ffcb;
    background:linear-gradient(to right,#b8ffcb,rgb(253, 253, 253)) ;
}
h3{
    color:rgb(255, 255, 255);
    background-color:  #000000;
}
a:link{
    color:rgb(238, 255, 0);
}