body{
    background-color: rgb(8, 0, 255);
}
h1 {
    color:black;
}
h1.info {
	font-size: 10pt;
}
h3{
    color:rgb(238, 255, 0);
    background-color:  #000000;
}
a:link{
    color:rgb(238, 255, 0);
}